In [1]:
import pandas as pd

# What is a DataFrame?
A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

In [4]:
table = {
    "Bangla":[90,98,81,81],
    "English":[82,89,92,90],
    "Math":[99,92,100,98]
}

In [5]:
df = pd.DataFrame(table)
print(df)

   Bangla  English  Math
0      90       82    99
1      98       89    92
2      81       92   100
3      81       90    98

# Locate Row
As you can see from the result above, the DataFrame is like a table with rows and columns.

Pandas use the loc attribute to return one or more specified row(s)

# Note: 
This example returns a Pandas Series.

In [8]:
print(df.loc[0])

Bangla     90
English    82
Math       99
Name: 0, dtype: int64

# Note: 
When using [], the result is a Pandas DataFrame.

In [9]:
print(df.loc[[0,1]])

   Bangla  English  Math
0      90       82    99
1      98       89    92

# Named Indexes

With the index argument, you can name your own indexes.

In [15]:
df = pd.DataFrame(table,index = ["a","b","c","d"])

In [16]:
print(df)

   Bangla  English  Math
a      90       82    99
b      98       89    92
c      81       92   100
d      81       90    98

# Locate Named Indexes
Use the named index in the loc attribute to return the specified row(s).

In [17]:
print(df.loc["b"])

Bangla     98
English    89
Math       92
Name: b, dtype: int64

In [18]:
print(df.loc[["b"]])

   Bangla  English  Math
b      98       89    92