# What is a Series?

A Pandas Series is like a column in a table.
It is a one-dimensional array holding data of any type.

In [2]:
import pandas as pd

In [3]:
arr = [1,2,3]

In [4]:
seriesExample = pd.Series(arr)
print(seriesExample)

0    1
1    2
2    3
dtype: int64

# Labels
If nothing else is specified, the values are labeled with their index number. First value has index 0, second value has index 1 etc.

This label can be used to access a specified value.

In [6]:
print(seriesExample[0])

1

# Create Labels

With the index argument, you can name your own labels.

When you have created labels, you can access an item by referring to the label.

In [7]:
seriesCreateLabels = pd.Series(arr,index = ['x','y','z'])
print(seriesCreateLabels)

x    1
y    2
z    3
dtype: int64

In [9]:
print(seriesCreateLabels['x'])

1

# Key/Value Objects as Series

You can also use a key/value object, like a dictionary, when creating a Series.

Note: The keys of the dictionary become the labels.

To select only some of the items in the dictionary, use the index argument and specify only the items you want to include in the Series.

In [10]:
Marks = {"English" : 81,"Bangla" : 82,"Math" : 99,"ICT" : 92}

In [11]:
seriesKeyValueObject = pd.Series(Marks)
print(seriesKeyValueObject)

English    81
Bangla     82
Math       99
ICT        92
dtype: int64

In [12]:
seriesonlyselecteditems = pd.Series(Marks,index = ["Math","ICT"])
print(seriesonlyselecteditems)

Math    99
ICT     92
dtype: int64

# DataFrames
Data sets in Pandas are usually multi-dimensional tables, called DataFrames.

Series is like a column, a DataFrame is the whole table.

In [13]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

In [14]:
dtf = pd.DataFrame(data)
print(dtf)

   calories  duration
0       420        50
1       380        40
2       390        45